<html>
	<head>
		<title>Experiment Application</title>
		<link rel="stylesheet" type="text/css" href="style.css">
	</head>

	<body>
		<div id="header">
		</div>

        <div id="body">
            <h1>Oops! This page was not found (404 error)</h1>
        </div>

	</body>
</html>
