<html>
	<head>
		<title>Experiment Application</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/video.css">
        
        <script src="<%= JQUERY_URL%>"></script>
		<script type="text/javascript" src="/lib/video.js"></script>
	</head>

	<body>
		<!-- Injecting EJS variables into JS environment -->
		<script> 
			var participant_id = '<%= participant_id %>';
		</script>

		<div id="header-wrapper">
			<div id="header-content">
				<h1>BIRADS Video</h1>
			</div>
		</div> 
		<div id="body-wrapper">
			<div id="body-content">
				<div class="text-box">
					<p>Before we begin, please watch this video on BIRADS classification:</p>

					<h3>video placeholder</h3>
				</div>
			
				<a href="/experiment_start/<%=participant_id%>">continue</a>
			</div>
		</div>        
	</body>
</html>