<html>
	<head>
		<title>Experiment Application</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script type="text/javascript" src="/lib/classify.js"></script>
	</head>

	<body>
		<div id="header">
		</div>

        <div id="body">
            <h2>Classify Page</h2>
			<h3>Your Participant id:</h3>
			<h4><%= participant_id %></h4>
            <div id="fake_button"> test</div>
        </div>

	</body>
</html>
