<html>
	<head>
		<title>Experiment Application</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/consent.css">

		<script src="<%= JQUERY_URL%>"></script>
		<script type="text/javascript" src="/lib/consent.js"></script>
	</head>

	<body>
		<div id="header-wrapper">
			<div id="header-content">
				<h1>Your approval</h1>
				<img class="logo" id="vu-logo" src="/img/misc/VU-logo-nobg.svg">
			</div>
		</div> 
		<div id="body-wrapper">
			<div id="body-content">
				<div class="text-box">
					<p>Hold on! Before we start the experiment, we need your approval for the use of your data that is measured in this experiment.</p>
				</div>

				<div class="text-box">
					<p>All the data that is collected during the experiment will be stored safely, and will solely be used <b>for research purposes</b> only. No data will be used for clinical use, so your decisions in 
						the experiment <b>will not affect real cases</b>. Your answers in this experiment <b>will be anonymized and will remain confidential</b>. To ensure anonymity, any 
						potentially identifiable information will not be associated with the experiment data gathered.</p>
				</div>

                <div class="text-box">
					<form id="consent_form">
                        <div id="consent-wrapper">
                            <input type="checkbox" id="consent_checkbox" name="consent" required>
                            <label for="consent">I consent to having my data used for the purposes of this experiment</label>
                        </div>
                    </form>
				</div>
				<div class="button-bar">
					<button id="submit-button" type="submit" form="consent_form">Continue</button>
				</div>
			</div>
		</div>
	</body>
</html>
