<html>
	<head>
		<title>Experiment Application</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
        
        <script src="<%= JQUERY_URL%>"></script>
		<!-- <script type="text/javascript" src="/lib/login.js"></script> -->
	</head>

	<body>
		<div id="header-wrapper">
			<div id="header-content">
				<h1>End of the Experiment</h1>
			</div>
		</div> 
		<div id="body-wrapper">
			<div id="body-content">
				<div class="text-box">
					<p>Thank you so much for partaking in this experiment!</p>
				</div>
			</div>
		</div>

	</body>
</html>