<html>
	<head>
		<title>Experiment Application</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<!-- <script type="text/javascript" src="/lib/login.js"></script> -->
	</head>

	<body>
		<div id="header">
		</div>

        <div id="body">
            <h2>END OF THE EXPERIMENT</h2>
        </div>

	</body>
</html>