<html>
	<head>
		<title>Experiment Application</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/video.css">
        
        <script src="<%= JQUERY_URL%>"></script>
		<script type="text/javascript" src="/lib/gen_video.js"></script>
	</head>

	<body>
		<!-- Injecting EJS variables into JS environment -->
		<script> 
			var participant_id = '<%= participant_id %>';
		</script>

		<div id="header-wrapper">
			<div id="header-content">
				<h1>AI Video</h1>
			</div>
		</div> 
		<div id="body-wrapper">
			<div id="body-content">
				<div class="text-box">
					<p>Before you continue, please watch the video below on AI tools in healthcare.</p>
				</div>

				<div class="text-box">

					<iframe id="player" type="text/html" width="960" height="585"
						src="https://www.aparat.com/video/video/embed/videohash/VKWXu/vt/frame"
						frameborder="0"></iframe>

				</div>
				
				<div class="button-bar">
					<div class="filler-class" id="continue-button-highlight"></div>
					<button class="nav-button" id="nav-button">continue</button>
				</div>	
			</div>
		</div>        
	</body>
</html>
