<html>
	<head>
		<title>Experiment Application</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/gen-info.css">

		<script src="<%= JQUERY_URL%>"></script>
		<script type="text/javascript" src="/lib/gen_info.js"></script>
	</head>

	<body>
		<div id="header-wrapper">
			<div id="header-content">
				<h1>Successfully Registered!</h1>
			</div>
		</div> 
		<div id="body-wrapper">
			<div id="body-content">
				<div class="text-box">
					<p>Thank you, your registration has been successfully logged.<br>
						If at any point during the experiment you lose internet connection, or something goes wrong, you can login with the <b>email address</b> you just entered.</p>
				</div>

				<div class="text-box">
					<p>Press <b>CONTINUE</b> to advance with the experiment.</p>
				</div>
				<div class="button-bar">
					<a href="/routing/<%=participant_id%>">continue</a>
				</div>			
			</div>
		</div>        
	</body>
</html>
