<html>
	<head>
		<title>Experiment Application</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">

		<script src="<%= JQUERY_URL%>"></script>
		<script type="text/javascript" src="/lib/script.js"></script>
	</head>

	<body>
		<div id="header-wrapper">
			<div id="header-content">
				<h1>Welcome!</h1>
				<img class="logo" id="vu-logo" src="/img/misc/VU-logo-nobg.svg">
			</div>
		</div> 
		<div id="body-wrapper">
			<div id="body-content">
				<div class="text-box">
					<p>Thank you for your interest in this experiment! The purpose of this experiment is to help research Artificial Intelligence tools that are used in the medical sector of Radiology.</p>
				</div>

				<div class="text-box">
					<p>The experiment will take you approximately <b>25-30 minutes</b> to complete. Your main task will be <b>reading and analysing  
						mammograms</b> with the help of an <b>AI-powered classification</b> tool.</p>
				</div>

				<div class="text-box">
					<p>We ask you to take the time indicated above to make the analyses as thoughtfully and thoroughly as possible. 
						Please move to a quiet environment before continuing with this experiment, to avoid any distracting factors. Once you're situated and ready to start, go ahead and press the orange <b>CONTINUE</b> button below.</p>
				</div>

				<div class="text-box">
					<p><em><b>NOTE: </b>Did you already start the experiment earlier, but did something go wrong? Please click on the button <b>REJOIN THE EXPERIMENT</b> below instead.</em></p>
				</div>
				
				<div class="button-bar">
					<a href="/login" id="login-button">Rejoin the Experiment</a>
					<a href="/consent_form">Continue</a>
				</div>
			</div>
		</div>
	</body>
</html>
