<html>
	<head>
		<title>Experiment Application</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">

		<script src="<%= JQUERY_URL%>"></script>
		<script type="text/javascript" src="/lib/script.js"></script>
	</head>

	<body>
		<div id="header-wrapper">
			<div id="header-content">
				<h1>Welcome!</h1>
				<img class="logo" id="vu-logo" src="/img/misc/VU-logo-nobg.svg">
			</div>
		</div> 
		<div id="body-wrapper">
			<div id="body-content">
				<div class="text-box">
					<p>Bacon ipsum dolor amet kielbasa andouille drumstick tenderloin, spare ribs frankfurter alcatra salami 
						prosciutto pancetta doner pork brisket shankle. Biltong turducken spare ribs short ribs pancetta rump 
						brisket landjaeger ground round prosciutto andouille. Meatball ground round short loin tri-tip. Ball 
						tip porchetta ham shankle cupim buffalo flank. Tenderloin meatball bacon, ham pastrami meatloaf cupim
						picanha capicola. Flank shankle doner kevin alcatra biltong salami ham drumstick porchetta frankfurter
						fatback beef ribs. </p>

					<p>Bresaola venison short ribs flank, rump pork loin bacon pig boudin buffalo pork chop porchetta salami 
						ribeye. Shank kevin short ribs pastrami prosciutto. Kevin short ribs pork chop tail pastrami pork loin 
						cow hamburger bresaola. Pork shoulder ribeye turkey, fatback ground round jerky beef drumstick ham.</p>
				</div>
			
				<a href="/consent_form">Continue</a>
			</div>
		</div>
	</body>
</html>
