<html>
	<head>
		<title>Experiment Application</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">

		<script src="<%= JQUERY_URL%>"></script>
		<script type="text/javascript" src="/lib/script.js"></script>
	</head>

	<body>
		<div id="header-wrapper">
			<div id="header-content">
				<h1>Welcome!</h1>
				<img class="logo" id="vu-logo" src="/img/misc/VU-logo-nobg.svg">
			</div>
		</div> 
		<div id="body-wrapper">
			<div id="body-content">
				<div class="text-box">
					<p>Thank you for your interest in this experiment! (elaborate further)</p>

					<p>The experiment will take you approximately <b>45-60 minutes</b> to complete. Your main task will be the <b>analysis  
						of mammograms</b> with the help of an <b>AI-powered classification</b> tool. </p>
				</div>

				<div class="text-box">
					<p>We ask you to take the time indicated above to make the classifications as thoughtfully as possible. 
						To ensure this, we also ask you to move to a quiet environment without many people around to avoid distracting factors.</p>
				</div>

				<div class="text-box">
					<p>All the data will be stored safely is used for experimental purposes only, not for real clinical use, so your decisions in 
						the experiment will not affect real cases. Your answers in this experiment will remain confidential. To ensure anonimity, any 
						potentially identifiable information will not be associated with the experiment data gathered.</p>
				</div>
			
				<a href="/consent_form">Continue</a>
			</div>
		</div>
	</body>
</html>
