<html>
	<head>
		<title>Experiment Application</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
        
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
		<script type="text/javascript" src="/lib/login.js"></script>
	</head>

	<body>
		<div id="header">
		</div>

        <div id="body">
            <h2>Log back into the experiment</h2>
			<p>Did something go wrong? Lost connection? Type in your unique <strong>participant ID</strong> in the field below to continue the experiment where you left off:</p>
			<form id="login_form">
                <label for="participant_id">Profession:</label>
                <input type="text" id="participant_id" name="participant_id">
            </form>
            <button type="submit" form="login_form">Proceed with Experiment</button>
        </div>

	</body>
</html>
