<html>
	<head>
		<title>Experiment Application</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
		<link rel="stylesheet" type="text/css" href="/css/mobile.css">

		<script src="<%= JQUERY_URL%>"></script>
		<script type="text/javascript" src="/lib/script.js"></script>
	</head>

	<body>
		<div id="header-wrapper">
			<div id="header-content">
				<h1>OOPS!</h1>
				<img class="logo" id="vu-logo" src="/img/misc/VU-logo-nobg.svg">
			</div>
		</div> 
		<div id="body-wrapper">
			<div id="body-content">
				<div class="text-box">
					<p>We're sorry, this application will only work on desktop and laptop computers. Please access this experiment app using the correct device.</p>
				</div>
			</div>
		</div>
	</body>
</html>