<html>
	<head>
		<title>Experiment Application</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/register.css">

		<script src="<%= JQUERY_URL%>"></script>
		<script type="text/javascript" src="/lib/register.js"></script>
	</head>

	<body>
        <div id="header-wrapper">
			<div id="header-content">
				<h1>Register for this Experiment</h1>
			</div>
		</div> 
		<div id="body-wrapper">
			<div id="body-content">
				<div class="text-box">
					<p>In order to partake in this experiment, we need you to register using the form below. 
                        Remember that your data will be anonymized, and will only be used for the purposes of this experiment.</p>
				</div>

                <div class="text-box">
                    <p>Please enter your email in the box below. If you do <strong>NOT</strong> want to be contacted on this email adress 
                        after the experiment regarding experiment outcomes, please also tick the checkbox below.</p>

                    <div class="form-element-wrapper">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" form="control_form" required>
                    </div>
                    
                    <div id="no-contact-wrapper">
                        <input type="checkbox" id="no_contact" name="no_contact" form="control_form">
                        <label for="no_contact">I do NOT want to receive updates on the experiment outcomes</label>
                    </div>
                </div>

                <form id="control_form">
                    <div class="text-box-wrapper">
                        <div class="text-box">
                            <div class="form-element-wrapper">
                                <label for="control_profession">Profession:</label>
                                <select id="control_profession" name="control_profession" required>
                                    <option value="" disabled selected>Select your option</option>
                                    <option value="student_related">Student in a medical field related to radiology</option>
                                    <option value="student_not_related">Student in a medical field not related to radiology</option>
                                    <option value="radiologist">Radiologist</option>
                                    <option value="medical_profession">Medical professional in a field other than radiology</option>
                                    <option value="other">Other</option>
                                </select>
                            </div>
                            
                            <div class="form-element-wrapper">
                                <label for="control_exp_radiology">Experience in Radiology:</label>
                                <select id="control_exp_radiology" name="control_exp_radiology" required>
                                    <option value="" disabled selected>Select your option</option>
                                    <option value="no_experience">No experience</option>
                                    <option value="less_than_1">Less than 1 year</option>
                                    <option value="between_1_3">Between 1 and 3 years</option>
                                    <option value="between_3_10">Between 3 and 10 years</option>
                                    <option value="more_than_10">More than 10 years</option>
                                </select>
                            </div>
                        </div>

                        <div class="text-box">
                            <div class="form-element-wrapper">
                                <label for="control_exp_mammography">Experience in Mammography:</label>
                                <select id="control_exp_mammography" name="control_exp_mammography" required>
                                    <option value="" disabled selected>Select your option</option>
                                    <option value="no_experience">No experience</option>
                                    <option value="less_than_100">Less than 100 mammograms classified</option>
                                    <option value="between_100_1000">Between 100 and 1000 mammograms classified</option>
                                    <option value="more_than_1000">More than 1000 mammograms classified</option>
                                </select>
                            </div>

                            <div class="form-element-wrapper">
                                <label for="control_last_time_eval">Time since last mammogram classification:</label>
                                <select id="control_last_time_eval" name="control_last_time_eval" required>
                                    <option value="" disabled selected>Select your option</option>
                                    <option value="no_classification">No previous classification</option>
                                    <option value="less_than_1">Less than 1 year</option>
                                    <option value="between_1_2">1 to 2 years</option>
                                    <option value="more_than_3">3 or more years</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
                <button id="register-submit-button" type="submit" form="control_form">Submit and Continue</button>
            </div>
        </div>

        
	</body>
</html>
