<html>
	<head>
		<title>Experiment Application</title>
		<link rel="stylesheet" type="text/css" href="/css/style.css">
        <link rel="stylesheet" type="text/css" href="/css/register.css">

		<script src="<%= JQUERY_URL%>"></script>
		<script type="text/javascript" src="/lib/register.js"></script>
	</head>

	<body>
        <div id="header-wrapper">
			<div id="header-content">
				<h1>Register for this Experiment</h1>
                <img class="logo" id="vu-logo" src="/img/misc/VU-logo-nobg.svg">
			</div>
		</div> 

        <div class="suggestion-modal hidden" id="suggestion-modal">
            <button id="close-modal">&#10006;</button>
            <div id="modal-content">
                <div id="modal-text">
                    <h3>Hey there!</h3>
                    <p>Need to log in instead of register?</p>
                </div>
                <a href="/login">Click here</a>
            </div>
        </div>

		<div id="body-wrapper">
			<div id="body-content">
				<div class="text-box">
					<p>In order to partake in this experiment, we need you to register using the form below. 
                        Remember that your data will be anonymized, and will only be used for the purposes of this experiment.</p>
				</div>

                <div class="text-box">
                    <p>Please enter your email in the box below. This email will only be used for experiment purposes, and <b>will not be associated with data gathered</b>.

                    <div class="form-element-wrapper">
                        <label for="email">Email:</label>
                        <input type="email" id="email" name="email" form="control_form" required>
                    </div>
                    
                    <!-- <div id="no-contact-wrapper">
                        <input type="checkbox" id="no_contact" name="no_contact" form="control_form">
                        <label for="no_contact">I do NOT want to receive updates on the experiment outcomes</label>
                    </div> -->
                </div>

                <form id="control_form">
                    <div class="text-box-wrapper">
                        <div class="text-box">
                            <div class="form-element-wrapper">
                                <label for="control_hospital">Hospital Setting:</label>
                                <select id="control_hospital" name="control_hospital" required>
                                    <option value="" disabled selected>In what type of hospital setting do you work?</option>
                                    <option value="academic">Academic Hospital</option>
                                    <option value="non_academic_private">Non-academic Private Hospital</option>
                                    <option value="non_academic_public">Non-academic Public Hospital</option>
                                </select>
                            </div>

                            <div class="form-element-wrapper">
                                <label for="control_last_mamm">Time since last mammography reading:</label>
                                <select id="control_last_mamm" name="control_last_mamm" required>
                                    <option value="" disabled selected>How long ago did you perform your last mammography reading?</option>
                                    <option value="1_week">Within the last week</option>
                                    <option value="1_month">Within the last month</option>
                                    <option value="6_months">Within the last 6 months</option>
                                    <option value="1_year">Within the last year</option>
                                    <option value="more_than_1_year">More than a year ago</option>
                                </select>
                            </div>

                            <div class="form-element-wrapper">
                                <label for="control_nr_mamms_weekly">Mammography readings per week:</label>
                                <select id="control_nr_mamms_weekly" name="control_nr_mamms_weekly" required>
                                    <option value="" disabled selected>How many mammography readings do you perform per week?</option>
                                    <option value="less_than_5">Less than 5</option>
                                    <option value="5_to_10">Between 5 and 10</option>
                                    <option value="10_to_20">Between 10 and 20</option>
                                    <option value="20_to_50">Between 20 and 50</option>
                                    <option value="more_than_50">More than 50</option>
                                </select>
                            </div>
                        </div>

                        <div class="text-box">
                            <div class="form-element-wrapper radio-element">
                                <label class="radio-label" for="control_cad_exp">Have you ever worked with <b>CAD (Computer Aided Decision)</b> tools before in your work as radiologist?</label>
                                <div class="radio-button">
                                    <input type="radio" id="cad_exp_yes" name="control_cad_exp" value="1" required>
                                    <label for="cad_exp_yes">Yes</label>
                                </div>
                                <div class="radio-button">
                                    <input type="radio" id="cad_exp_no" name="control_cad_exp" value="0">
                                    <label for="cad_exp_no">No</label>
                                </div>
                            </div>

                            <div class="form-element-wrapper radio-element">
                                <label class="radio-label" for="control_ai_exp">Have you ever worked with specifically <b>AI (Artificial Intelligence) powered</b> tools before in your work as radiologist?</label>
                                <div class="radio-button">
                                    <input type="radio" id="ai_exp_yes" name="control_ai_exp" value="1" required>
                                    <label for="ai_exp_yes">Yes</label>
                                </div>
                                <div class="radio-button">
                                    <input type="radio" id="ai_exp_no" name="control_ai_exp" value="0">
                                    <label for="ai_exp_no">No</label>
                                </div>
                            </div>

                            <div class="form-element-wrapper invisible" id="control_exp_last_wrapper">
                                <label for="control_exp_last">Time since last CAD/AI tool interaction:</label>
                                <select id="control_exp_last" name="control_exp_last">
                                    <option value="" disabled selected>How long ago did you interact with a CAD/AI tool last?</option>
                                    <option value="1_week">Within the last week</option>
                                    <option value="1_month">Within the last month</option>
                                    <option value="6_months">Within the last 6 months</option>
                                    <option value="1_year">Within the last year</option>
                                    <option value="more_than_1_year">More than a year ago</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>

                <button id="register-submit-button" type="submit" form="control_form">Submit and Continue</button>
            </div>
        </div>

        
	</body>
</html>
